<p id="notice"><%= notice %></p>

<p>Players</p>
<% @match.games.each do |game|%>
<p> <%= game.player.name %> </p>
<% end %>


<%= link_to 'Play', play_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
